*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: linear-gradient(
    90deg,
    #77C0AF 0%,
    #D1DC97 14.84%,
    #E9A9B3 32.15%,
    #D586E0 65.79%,
    #91A1FA 84.58%
  );

  --gradient-background: linear-gradient(
    90deg,
    #D586E0 0%,
    #91A1FA 98.3%
  );

  --gradient-content: linear-gradient(
    90deg,
    #C7C9CC 0%,
    #3D3D3D 100%
  );

  --display-large: 800 72px/130% "Sora", sans-serif;
  --display-medium: 800 40px/130% "Sora", sans-serif;
  --display-small: 700 32px/130% "Sora", sans-serif;

  --overline: 700 16px/150% "Roboto Mono", monospace;

  --paragraph-large: 500 16px/150% "Inter", sans-serif;
  --paragraph-medium: 500 14px/150% "Inter", sans-serif;
  --paragraph-small: 500 12px/150% "Inter", sans-serif;

  --label-medium: 700 20px/150% "Inter", sans-serif;
  --label-small: 700 16px/150% "Inter", sans-serif;
}

body {
  background: url(assets/Shapes.png) no-repeat center / cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 108px;
  align-items: center;
}

.left {
  display:flex;
  flex-direction:column;
  gap:40px;
}

.right {
  display:flex;
  justify-content:center;
  align-items: center;
}

/* TITLE */
.title span {
  font: var(--overline);
  color: rgb(37, 36, 36);
  margin-bottom: 12px;
}

.title h1 {
  font: var(--display-large);
  color: var(--content-primary);
  margin-bottom: 1rem;
}

/* LOGO */
.logo {
  display: flex;
  gap: 11px;
  margin-bottom: 60px;
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo h1 {
  font: 800 24px/130% "Sora", sans-serif;
  transform: translateY(4px);
}

/* FORM */
form .inputs {
  display: flex;
  gap: 12px;
}

form button {
  background: var(--background-tertiary);
  border-radius: .5rem;
  font: var(--label-medium);
  color: #FFFFFF;
  border: 2px solid transparent;
  cursor: pointer;
}

form button:hover {
  background:
    linear-gradient(var(--background-tertiary), var(--background-tertiary)) padding-box,
    var(--gradient-border) border-box;
}

form button:hover .arrow-right {
  transform: translate(14px, 6px);
}

aside button, form button {
  width: 560px;
  padding: 16px;
}

.arrow-right {
  background: url(assets/arrow-right.svg) no-repeat center / cover;
  display: inline-block;
  width: 24px;
  height: 24px;
  transform: translate(4px, 6px);

  transition: transform 0.6s ease;
}

/* INPUTS */
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-wrapper label {
  font: var(--label-medium);
  color: #C7C9CC;
  align-self: center;
  margin-top: 40px;
}

.numbers {
  appearance: none;
  width: 100px;
  border-radius: .5rem;
  border: none;
  text-align: center;
  font: var(--display-small);
  color: #ffffff;
}

.numbers:focus {
  outline: none;
}

/* WANT */
.want h2 {
  font: var(--label-medium);
  color: var(--content-primary);
}

.want p {
  font: var(--paragraph-large);
  color: var(--content-secondary);
}

/* TOGGLE */
.no-repeat {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: .75rem;
}

.no-repeat span {
  font: var(--paragraph-small);
  color: var(--content-primary);
}

.toggle {
  position: relative;
  width: 36px;
  height: 20px;
}

.toggle input {
  opacity: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background: #C7C9CC;
  border-radius: 999px;
  transition: 0.3s;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background: var(--gradient-background);
}

input:checked + .slider::before {
  transform: translateX(14px);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 386px;
}

footer h3 {
  display: flex;
  gap: .5rem;
  margin-left: -1.75rem;
  font: var(--paragraph-medium);
  color: var(--content-brand);
}

footer p {
  font: var(--paragraph-small);
  color: var(--content-secondary);
}

.person {
  background: url(assets/person.svg) no-repeat center / cover;
  width: 20px;
  height: 20px;
}

/* VISIBILITY */
.setInvisible {
  display: none;
}

.setVisible {
  display: flex;
}

/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  text-align: center;
}

aside h2 {
  font: var(--label-medium);
  color: var(--content-primary);
}

aside p {
  font: var(--overline);
  color: var(--content-secondary);
}

aside button {
  background: var(--background-tertiary);
  border-radius: .5rem;
  font: var(--label-medium);
  color: #FFFFFF;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 20px;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;

  white-space: nowrap;
}

aside button .again {
    background: url(assets/again.svg) no-repeat center / cover;
  display: inline-block;
  width: 24px;
  height: 24px;

  transform: translate(4px, 4px);
  transition: transform 1.5s ease;
  }

aside button.show {
  opacity: 1;
  transform: translateY(0);
}

aside button:hover {
  background:
    linear-gradient(var(--background-tertiary), var(--background-tertiary)) padding-box,
    var(--gradient-border) border-box;
}

aside button:hover .again {
    transform: translate(4px, 4px) rotate(360deg);
  }

/* NUMBER */
.number {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: transparent;
  color: black;
  transform: scale(0);
  opacity: 0;
  font: 700 64px "Roboto Mono", monospace;
}

.numbers-result {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.numbers-wrapper {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number.animate {
  animation: revealSpin 4s ease forwards;
}

/* ANIMATION */
@keyframes revealSpin {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
    background: transparent;
    color: transparent;
  }

  20% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
    background: var(--content-brand);
    color: transparent;
  }

  50% {
    transform: scale(1.1) rotate(360deg);
    background: var(--content-brand);
    color: black;
  }

  100% {
    transform: scale(1) rotate(360deg);
    background: transparent;
    color: var(--content-brand);
    opacity: 1;
  }
}